<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homily</title>
</head>
<body>
    <h3>All Listings</h3>
    <form method="GET" action="/listings/new">
        <button>Create new listing</button>
    </form>
    <ul>
        <% for (let listing of allListings){ %>
            <a href="/listings/<%= listing._id%>"><li> <%= listing.title %> </li></a>
        <% } %>
    
    </ul>
</body>
</html>