<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homily</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="enter title" type="text">
        <br><br>
        <textarea name="listing[description]" placeholder="enter desc"></textarea>
        <br><br>
        <input name="listing[image]" placeholder="enter img url/link" type="text">
        <br><br>
        <input name="listing[price]" placeholder="enter price" type="number">
        <br><br>
        <input name="listing[country]" placeholder="enter country" type="text">
        <br><br>
        <input name="listing[location]" placeholder="enter location" type="text">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>